.button {
  .button-element {
    display: block;
    background-color: $extra-light-grey;
    border-radius: 3px;
    border: 1px solid $grey;
    font-size: 13px;
    padding: 0.6em 1em 0.5em 1em;
    width: 100%;
    color: #282a36;
    text-decoration: none;
    transition: all 100ms linear;

    &:hover {
      color: $white;
    }

    &:active {
      transform: translateY(2px);
    }

    &:focus {
      outline: none;
    }
  }

  &.button-color-purple .button-element:hover {
    border-color: $purple;
    background-color: $purple;
  }

  &.button-color-red .button-element:hover {
    border-color: $bloody-red;
    background-color: $bloody-red;
  }

  &.button-color-black .button-element:hover {
    border-color: $black;
    background-color: $black;
  }

  &.button-disabled {
    .button-element {
      pointer-events: none;

      background-color: $almost-white;
      color: $light-grey;
      border-color: $extra-light-grey;
    }
  }
}